footer {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  background-color: var(--gray);
}
footer p {
  margin-top: 5px;
  text-align: center;
}
footer a {
  color: var(--turquoise);
}
